<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div th:include="share/header :: header"> ...</div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div th:include="admin/admin-menu :: admin-menu">...</div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 " style="margin-left:10%">
            <ul class="nav nav-tabs">
                <li><a href="/admin/category/add">Add Category</a></li>
            </ul>
            <div class="row" style="padding:20px;">

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label>ID:</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label> NAME: </label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label>ACTIVE: </label>
                </div>
            </div>
            <div class="row" th:each="c : ${categories}" style="margin-left:5px">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" th:text="${c.getId()}">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" th:text="${c.getName()}">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" th:text="${c.isActive()}">
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a th:href="@{'/admin/category/edit/'+${c.getId()}}">EDIT</a>
                    <a th:href="@{'/admin/category/active/'+${c.getId()}}">Set Active</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>