<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div th:include="share/header :: header"> ...</div>

    <div class="row">
        <div th:include="admin/admin-menu :: admin-menu">...</div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form class="form-horizontal" action="#" th:action="@{'/admin/product/edit/' + ${product.getId()}}"
                  th:object="${product}"
                  method="post">
                <fieldset>

                    <div id="legend">
                        <legend class="">Edit product</legend>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="name">Product Name</label>
                        <div class="controls">
                            <input type="text" th:value="${product.getName()}" th:field="*{name}" class="input-xlarge"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                Error </p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="name">Price</label>
                        <div class="controls">
                            <input type="text" th:value="${product.getPrice()}" th:field="*{price}"
                                   class="input-xlarge"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                Price Error </p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="category">Category</label>
                        <div class="controls">
                            <select class="form-control" th:field="*{category}">
                                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <input type="text" th:field="*{description}" th:value="${product.getDescription()}"
                                   class="input-xlarge"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
                               th:errors="*{description}">Description Error </p>
                        </div>
                    </div>

                    <div class="control-group">

                        <label class="control-label" for="amount">Amount</label>
                        <div class="controls">
                            <input type="text" th:field="*{amount}" th:value="${product.getAmount()}"
                                   class="input-xlarge"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('amount')}"
                               th:errors="*{amount}">Amount Error </p>
                        </div>

                    </div>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Edit PRODUCT</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>

</html>